@charset "utf-8";
/* CSS Document */
img {width:100%}
.header-bar{line-height:3rem;background-color: #fff;height:4rem; position:fixed; top:0; left:0; z-index:100; width:100%}
.return_btn { display:block; height:4rem; width:10%;background:url(../images/merchandise/icon_1.png) center no-repeat;  position:absolute; top:0; left:0;text-align:center}
.dropD {display:block; height:4rem; width:15%;background:url(../images/merchandise/icon_2.png) center no-repeat;  position:absolute; top:0; right:0; z-index:100;text-align:center;}
.dropdiv { display:none; position:absolute; top:4rem; right:5%; padding:1rem 1rem; background:url(../images/bg.png); width:9rem;}
.flag { display:block; position:absolute; top:-16px; right:1rem; width:10px; height:9px; width:0;height:0;font-size:0;border:solid 8px;border-color:#fff #fff #000 #fff; opacity:0.7}
.header-bar a{font-size:1.4rem;color:#333;display:block;}
.header-bar .dropdiv a { height:3rem; line-height:3rem; color:#fff; font-size:1.4rem; border-bottom:1px solid #583b3f; text-align:left; padding-left:30px; background:url(../images/merchandise/icons.png) no-repeat}
.header-bar .dropdiv a.hicon1 { background:url(../images/icon_5.png) no-repeat left center}
.header-bar .dropdiv a.hicon2 { background:url(../images/icon_6.png) no-repeat left center}
.header-bar .dropdiv a.hicon3 { background:url(../images/icon_7.png) no-repeat left center}
.header-bar .dropdiv a.hicon4 { background:url(../images/icon_8.png) no-repeat left center}
.selbox { display:block; width:70%; margin:0 auto; background:#e7e4e4; border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-sborder-radius:3px; height:3rem; margin-top:0.5rem; position:relative}
.selbox input { width:80%; background:none; border:none; padding-left:5px; font-size:1.4rem}
.selbox a.search { height:3rem; width:50px; border-radius:0 3px 3px 0; background:url(../images/shop/icon_sel.png) center no-repeat #f22d4f; background-size:20px auto; position:absolute; top:0; right:0}


.headcontent { width:100%; position:relative; height:170px; background:url(../images/shop/head_bg.jpg) center repeat-x }
.layer { width:100%; height:100%; position:absolute; top:0; left:0; z-index:3; background:#000; opacity:0.5}
.Shead { display:block; width:100%;height:100px; position:absolute; left:0; bottom:0; z-index:5;}
.Shead a.Shome { display:block; width:100px; height:100px; position:absolute; left:0; bottom:-5px; z-index:5; box-shadow:0 1px 3px #666;-moz-box-shadow:0 1px 3px #666;-ms-box-shadow:0 1px 3px #666;-o-box-shadow:0 1px 3px #666;-webkit-box-shadow:0 1px 3px #666;}
.Shead a.Shome span{ position:absolute; top:0; left:105px; z-index:6; color:#fff; font-size:1.4rem; display:block; width:200%;font-size:1.3rem}
.shead_R { display:block; width:43%; position:absolute; bottom:10px; right:10px}
.shead_R b { color:#fff; font-size:1.3rem; font-weight:normal; text-align:center; display:inline-block; float:left}
.shead_R b i { font-style:normal; font-size:1.2rem}
.scbtn { display:block; width:50px; height:25px; text-align:center; padding-left:16px; line-height:25px; color:#f22d4f; border-radius:3px; background:url(../images/shop/icon_1.png) 4px -23px no-repeat #fff;  background-size:20px auto;float:right}
.scbtn.current {background:url(../images/shop/icon_1.png) 4px 2px no-repeat #f22d4f;background-size:20px auto; color:#fff; }

/*选项卡*/
.favor-header-bar { width:100%; margin-top:10px; background:#fff}

.favor-header-bar li { width:25%; float:left;  text-align:center; padding:0.5rem 0;  }
.favor-header-bar li a {color:#0f0f0f; font-size:1.4rem; padding-top:30px; padding-bottom:0.2rem }
.favor-header-bar li em { display:block;width:30px; height:30px; background:url(../images/shop/icons.png) no-repeat; background-size:30px auto; margin:0 auto; margin-bottom:5px}
.favor-header-bar li.default em { background:url(../images/shop/icons_1.png) no-repeat;background-size:30px auto;}
.favor-header-bar li em.btn1 { background-position:0 -2px}
.favor-header-bar li em.btn2 { background-position:0 -40px}
.favor-header-bar li em.btn3 { background-position:0 -85px}
.favor-header-bar li em.btn4 { background-position:0 -136px}
.favor-header-bar li.default a{color:#fa1545;border-bottom: 2px solid #fa1545;}
.favor-header-bar li span{position: absolute;display: block;width:25%;top:-0.4rem;right:0.2rem;max-width: 32px;}


/*全部商品*/
.guess.g1 ul { width:95%; margin: 0 auto}
.guess ul{ margin-left:-2%}
.guess ul li { width:48%; margin-left:2%; float:left; margin-bottom:0.8rem}
.guess ul li>a { display:block; padding:0.5rem 0;font-size:1.3rem;color:#171817; background:#fff; text-align:center}
.guess ul li>a img { width:90%;}
.guess ul li>a span { display:block; height:3rem; line-height:1.5rem; overflow:hidden; text-overflow:ellipsis;padding:0 0.5rem; text-align:left}
.guess ul li>a b { text-align:left; color:#e31010; display:block; font-size:1.5rem; margin-top:0.5rem}
.allLabels { width:100%; display:none;}
.allLabels a { display:inline-block; width:25%; height:4rem; line-height:4rem; float:left; color:#0f0f0f; font-size:1.4rem; text-align:center; position:relative}
.idb4 i { display:inline-block; width:10px; height:14px; background:url(../images/shop/icon_3.png) no-repeat -3px -2px ; position:absolute; top:31%}
.idb4 i.state1 { background:url(../images/shop/icon_3.png) no-repeat -3px -21px}
.idb4 i.state2 { background:url(../images/shop/icon_3.png) no-repeat -3px -40px}
.allLabels a.current { color:#fa1545}
.fixedbox { position:fixed; width:100%; top:4rem; left:0; z-index:100; margin-top:0; box-shadow:0 2px 3px #ccc}
.Gtit { color:#f42f4a; font-size:1.4rem; padding-left:40px; background:url(../images/shop/icon_4.png) no-repeat left center; display:block; height:35px; width:60px; margin:0 auto; line-height:35px;}

/*footer*/
footer { width:100%; background:#fff;position:fixed; left:0; bottom:0; z-index:50; box-shadow:0 -2px 2px #ccc; height:5rem}
footer a { display:inline-block; width:33%;font-size:1.6rem; color:#0f0f0f; float:left; text-align:center; line-height:5rem; border-right:1px solid #D7D7D7;}
footer a:last-child{ border:none}
footer a span { font-size:1.6rem; color:#0f0f0f; padding:6px 0 6px 35px;}
footer a span.icon_contact { background:url(../images/shop/icon_5.png) no-repeat 0 3px; background-size:30px auto}
footer a span.icon_share { background:url(../images/shop/icon_5.png) no-repeat 0 -28px;background-size:30px auto}
@media screen and (max-width: 500px) {
	.headcontent{height:100px;}
	.Shead a.Shome { width:70px; height:70px}
	.Shead a.Shome span { left:75px; }
}

